*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    background-image: url(../images/Clip.png);
    height: 920px;
}
.header{
    width: 100%;
    background-image: url(../images/bgcopy.png);
    background-position: center;
    z-index: 1;
    margin-top: -2px;
}

.img{
    margin: 10px auto;
    width: 22px;
    height: 22px;
    margin-left: 300px;
}
span{
    font-size: 17px;
}
.mail{
    position: relative;
    left: 14px;
    bottom: 16px;
    color: gray;
    font-size: 14px;
    font-family: "muliregular";

}
.num{
    position: relative;
    left: 6px;
    bottom: 15px;
    letter-spacing: 0.2px;
    color: gray;
    font-family: "muliregular";
    font-size: 14px;
}
.call{
    position: relative;
    bottom: 3px;
    width: 15px;
    height: 15px;
    margin-left: 4.9%;
}
.icons{
    margin-left: 55.5%;
    position: relative;
    bottom: 47px;
}
.fb{
    width: 15px;
    height: 15px;
    position: relative;
    top: 7px;
}
.li{
    width: 13px;
    height: 13px;
    margin-left: 13px;
    position: relative;
    top: 7px;
}
.g-plus{
    width: 17px;
    height: 17px;
    color: gray;
    margin-left: 10px;
    color: gray;
    position: relative;
    bottom: 2px;
}
.twitter{
    width: 19px;
    height: 19px;
    color: white;
    margin-left: 8px;
    position: relative;
    bottom: 2px;
}
