.container{
    margin-top: 120px;
    margin-left: 33%;
    margin-bottom: 2.7%;
}
.p3{
    font-size: 40px;
    width: 600px;
    word-spacing: -4px;
    text-align: center;
}
.p3 span{
    font-size: 40px;
    text-indent: 90px;
}
.boxes{
    display: flex;
    width: 440px;
    margin-left: 17.5%;
    margin-bottom: 265px;

}
.box1{
    width: 362px;
    height: 255px;
    background-color: #EDF7FF;

}
.box3{
    width: 362px;
    height: 255px;
    background-color: #EDF7FF;
    margin-left: 33px;
}
.box5{
    width: 362px;
    height: 255px;
    background-color: #EDF7FF;
    margin-left: 39px;
}
.p4{
    margin-top: 7px;
    margin-left: 43px;
    font-size: 22px;
    color: rgb(89, 86, 86);
    font-family: 'glacial_indifferencebold';
}
.p5{
    margin-top: 18px;
    margin-left: 36px;
    font-size: 15px;
    width: 293px;
    letter-spacing: -1px;
    font-family: "muliregular";
}
.box2{
    background-color: rgb(39, 34, 34);
    width: 74px;
    height: 74px;
    border-radius: 45px;
    margin-left: 33px;
    margin-top: 38px;
    background-image: url(../images/021-diamond.png);
    background-repeat: no-repeat;
    background-position: center;
}
.box4{
    background-color: white;
    width: 74px;
    height: 74px;
    border-radius: 45px;
    margin-left: 40px;
    margin-top: 38px;
    background-image: url(../images/021-piggy-bank.png);
    background-repeat: no-repeat;
    background-position: center;
}
.box6{
    background-color: white;
    width: 74px;
    height: 74px;
    border-radius: 45px;
    margin-left: 33px;
    margin-top: 38px;
    background-image: url(../images/037-responsive.png);
    background-repeat: no-repeat;
    background-position: center;
}
.btn2{
    background-color: #EE3364;
    color: white;
    border: none;
    width: 180px;
    height: 55px;
    margin-top: 39.5%;
    margin-left: 24.6%;
}
/* .box1:hover{
    border: 3px solid #EE3364;
    background-color: white;
}
.box3:hover{
    border: 3px solid #EE3364;
    background-color: white;
}
.box5:hover{
    border: 3px solid #EE3364;
    background-color: white;
} */
.boxes>div:hover{
    border: 3px solid #EE3364;
    background-color: white;
}
.boxes>div:hover .box2 {
    background-color: red;
}
.boxes>div:hover .box4 {
    background-color: red;
}
.boxes>div:hover .box6 {
    background-color: red;
}